# IntelliJ IDEA project files
.idea/
*.iml
out/
gen/
.venv/
.env
__pycache__
.adk
.claude/*

uv.lock

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup


# Datastore
DataGen/documents/*
DataGen/*.csv
*db
vscode-extension/node_modules/
vscode-extension/out/
ADKAgents/vscode-extension/node_modules/
ADKAgents/vscode-extension/out/
